/* Main Navbar Styling */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 60px;
    position: relative;
}

/* Logo Styling */
.nav-logo-img {
    max-width: 150px;
    max-height: 150px;
}

/* Nav Menu (Desktop View) */
.nav-menu {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 40px;
    font-size: 18px;
}

/* Connect Button */
.nav-connect {
    padding: 10px 20px;
    border-radius: 50px;
    background: linear-gradient(90deg, rgba(0, 73, 11, 0.558) 0%, rgba(34,170,70,1) 19%, rgba(0,212,255,1) 100%);
    cursor: pointer;
    font-size: 18px;
    transition: 0.5s;
}

/* Button Hover */
.nav-connect:hover {
    transform: scale(1.2);
}

/* Anchor Links */
.anchor-link {
    text-decoration: none;
    color: white;
}

/* Menu Items */
.nav-menu li {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    gap: 5px;
}

/* Hamburger Icon - Hidden on Desktop */
.nav-mob-open {
    display: none;
    font-size: 30px;
    cursor: pointer;
}

/* Mobile Close Icon - Hidden on Desktop */
.nav-mob-close {
    display: none;
    font-size: 30px;
    cursor: pointer;
    position: absolute;
    top: 20px;
    right: 30px;
}

/* Nav Menu Open State */
.nav-menu.open {
    display: flex;
    position: fixed;
    top: 0;
    right: 0;
    flex-direction: column;
    background-color: lightgreen;
    height: 100%;
    width: 300px;
    justify-content: center;
    z-index: 100;
    transition: right 0.5s ease;
}
